@import '~material-design-icons/iconfont/material-icons.css';

body {
  margin: 0;
}

.main {
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  .content {
    max-width: 1009px;
    margin: auto;    
  }

  a {
    text-decoration: none;
    color: black;
    overflow-wrap: break-word;

    &:visited {
      color: black;
    }

    &:hover {
      color: gray;
    }

    &:active {
      color: darkgray;
    }
  }

  h2 {
    font-size: 48px;
    font-weight: 900;
  }

  h3 {
    font-size: 36px;
    font-weight: 900;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    color: #a7a7a7;
  }

  h5 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;    
  }

  article {
    padding: 96px 0;

    &.column {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;

      .column-1 {
        grid-column: 1;
      }

      .column-2 {
        grid-column: 2;
      }
    }
  }

  .image-placeholder {
    width: 100%;
    height: 200px;
    background-color: gray;
  }

  .color-block {
    background-color: #E87B69;
    border-radius: 26px;
    padding: 32px;
    color: white;
    
  }

  .gradient-block {
    border-radius: 26px;
    color: white;
    padding: 32px;
    background: linear-gradient(180deg, rgba(241, 146, 54, 0.7) 0%, rgba(255, 102, 102, 0.8) 100%);
  }

  .side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      padding: 0 12px;
    }

    .color-block {
      flex: 2;
      margin: 48px;
    }
  }

  .wide {
    margin: 0 -32px;
  }

  .video-container {
    display: flex;
    justify-content: center;
  }
}