.projects .projects-grid-container {
  display: flex;
  justify-content: center;
}

.projects .projects-grid {
  $grid-unit: 400px;
  $gutter: 24px;
  display: grid;
  grid-template-rows: $grid-unit $grid-unit;
  grid-template-columns: $grid-unit $grid-unit;
  grid-gap: $gutter;

  > a {
    display: block;
  }

  .image-box {
    position: relative;

    .project-description {
      height: 100%;
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      text-align: center;

      .project-title {
        color: white;
        margin: 0;
      }
    }

    &.diamond .image-background {
      background-color: green;
    }

    &.star .image-background {
      background-color: pink;
    }

    &.circle .image-background {
      background-color: peachpuff;
    }

    &.triangle .image-background {
      background-color: plum;

      img {
        width: 350px;
        height: 310px;
      }
    }
  }
}