.soundmaps.content {
  .soundmaps-logo {
    width: 50%;
    margin: auto;

    .image-background {
      background-color: peachpuff;
      padding: 24px;
    }
  }

  .sound-search {
    height: 450px;
  }

  .sketchnotes {
    height: 550px;
  }

  .personas {
    height: 420px;
  }
}
